/* Global Styles */
* {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Style the hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 8rem 0;
}

/* Card Styling */
.card {
    box-shadow: 0 4px 16px rgba(0,0,0,0.10), 0 1.5px 6px rgba(0,0,0,0.08);
}

.card-img-top {
    height: 618px;
    object-fit: cover;
}

.card-title {
border-bottom: 1px solid grey;

text-align: center;
margin-bottom: 1rem;
padding-bottom: 1rem;
}